.body-style {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0px;
}

.wrapper-tictactoe {
  width: 400px;
  height: 400px;
  background: #efefef;
  display: flex;
  border: 1px solid #444;
  flex-wrap: wrap;
}
.wrapper-game {
  width: 400px;
  height: 400px;
}
.wrapper-box {
  width: calc( 100% / 3 );
  height: calc( 100% / 3 );
  border: 1px solid #444;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-menu-game {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.btn {
  background: #F0A500;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
}
.input {
  border: 1px solid #444;
  padding: 10px 5px;
  border-radius: 4px;
}


.none {
  display: none;
}

.img-tictactoe-x {
  width: 50%;
}

.box-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.x-style, .o-style {
  width: 50%;
}
.x-style {
  fill: red;
}
.o-style {
  fill: green;
}